* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  -webkit-user-select: none;
  user-select: none;
  font-family: Courier, monospace;
  font-size: 62.5%;
  color: #fff;
  line-height: 1;
}

input,
textarea {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
}

textarea {
  resize: none;
}

#container {
  height: 100%;
}

.bg_col_rd {
  background-color: #d3412e;
}

.bg_col_bl {
  background-color: #5578f5;
}

.hide {
  display: none;
}

.flex {
  display: -webkit-box;
}

.flex-pack_center {
  -webkit-box-pack: center;
  box-pack: center;
}

.flex-align_center {
  -webkit-box-align: center;
  box-align: center;
}

.block_center {
  margin-right: auto !important;
  margin-left: auto !important;
}

.m1 {
  margin: 8px !important;
}

.m2 {
  margin: 16px !important;
}

.m3 {
  margin: 24px !important;
}

.m4 {
  margin: 32px !important;
}

.m5 {
  margin: 40px !important;
}

.m1_t {
  margin-top: 8px !important;
}

.m2_t {
  margin-top: 16px !important;
}

.m3_t {
  margin-top: 24px !important;
}

.m4_t {
  margin-top: 32px !important;
}

.m5_t {
  margin-top: 40px !important;
}

.m1_b {
  margin-bottom: 8px !important;
}

.m2_b {
  margin-bottom: 16px !important;
}

.m3_b {
  margin-bottom: 24px !important;
}

.m4_b {
  margin-bottom: 32px !important;
}

.m5_b {
  margin-bottom: 40px !important;
}

.m1_r {
  margin-right: 8px !important;
}

.m2_r {
  margin-right: 16px !important;
}

.m3_r {
  margin-right: 24px !important;
}

.m4_r {
  margin-right: 32px !important;
}

.m5_r {
  margin-right: 40px !important;
}

.m1_l {
  margin-left: 8px !important;
}

.m2_l {
  margin-left: 16px !important;
}

.m3_l {
  margin-left: 24px !important;
}

.m4_l {
  margin-left: 32px !important;
}

.m5_l {
  margin-left: 40px !important;
}

.m1_v {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.m2_v {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.m3_v {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.m4_v {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.m5_v {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.m1_h {
  margin-right: 8px !important;
  margin-left: 8px !important;
}

.m2_h {
  margin-right: 16px !important;
  margin-left: 16px !important;
}

.m3_h {
  margin-right: 24px !important;
  margin-left: 24px !important;
}

.m4_h {
  margin-right: 32px !important;
  margin-left: 32px !important;
}

.m5_h {
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.grid_w_0 {
  width: 0%;
}

.grid_w_1 {
  width: 8.33333%;
}

.grid_w_2 {
  width: 16.66667%;
}

.grid_w_3 {
  width: 25%;
}

.grid_w_4 {
  width: 33.33333%;
}

.grid_w_5 {
  width: 41.66667%;
}

.grid_w_6 {
  width: 50%;
}

.grid_w_7 {
  width: 58.33333%;
}

.grid_w_8 {
  width: 66.66667%;
}

.grid_w_9 {
  width: 75%;
}

.grid_w_10 {
  width: 83.33333%;
}

.grid_w_11 {
  width: 91.66667%;
}

.grid_w_12 {
  width: 100%;
}

.grid_h_0 {
  height: 0%;
}

.grid_h_1 {
  height: 8.33333%;
}

.grid_h_2 {
  height: 16.66667%;
}

.grid_h_3 {
  height: 25%;
}

.grid_h_4 {
  height: 33.33333%;
}

.grid_h_5 {
  height: 41.66667%;
}

.grid_h_6 {
  height: 50%;
}

.grid_h_7 {
  height: 58.33333%;
}

.grid_h_8 {
  height: 66.66667%;
}

.grid_h_9 {
  height: 75%;
}

.grid_h_10 {
  height: 83.33333%;
}

.grid_h_11 {
  height: 91.66667%;
}

.grid_h_12 {
  height: 100%;
}

.form-input {
  display: block;
  padding: 8px;
  text-align: 1.2;
  font-family: Courier, monospace;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.form-input_text {
  height: 36px;
  font-size: 1.2rem;
}

.hd_1 {
  color: #fff;
  font-size: 2.4rem;
}

.btn {
  display: block;
  width: 200px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 1.4rem;
  border-radius: 6px;
  border: 1px solid #fff;
}

.animte_h {
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}
